Package: bigbashview
Version: 2.2.3.1
Architecture: all
Maintainer: Kaiana <www.kaiana.com.br>
Installed-Size: 1
Depends: libqt4-webkit, python-qt4, python-webpy
Recommends: python-chameleon
Section: admin
Priority: optional
Description: Graphical interface for bash with webkit engine.

